<% layout('layouts/boilerplate') -%>
<form action='/posts/<%=post.id%>?_method=PUT' method='POST' id='postEditForm' enctype='multipart/form-data'>
    <div>
        <label for='title'>Title</label>
        <input type='text' name='post[title]' id='post[title]' value='<%=post.title%>'>
    </div>
    <div>
        <label for='price'>Price</label>
        <input type='number' name='post[price]' id='price' value='<%=post.price%>' step='.01'>
    </div>
    <div>
        <label for='images'>Image</label>
        <input type='file' accept='images/*' name='images' id='imageUpload' multiple>
        <div>
            <%post.images.forEach((image, i)=>{%>
                <img src='<%=image.url%>' width='100px'>
                <label for='image<%=i%>'>Delete</label>
                <input type='checkbox' id='image<%=i%>' name='deleteImages[]' class='imageDeleteCheckbox' value='<%=image.public_id%>'>
            <%})%>
        </div>
    </div>
    <div>
        <label for='desc'>Description</label>
        <textarea type='text' name='post[desc]' id='desc'><%=post.desc%></textarea>
    </div>
    <div>
        <label for='loc'>Location</label>
        <input type='text' name='post[location]' id='loc' value='<%=post.location%>'>
    </div>
    <input type='submit' value='submit'>
</form>
<script src='/javascripts/post-edit.js'></script>